<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
</head>
<style type="text/css">

#header { 
    background-color: rgba(0 , 0 , 0 , 75%);
    height: 64px;
}

#introduction {
    text-align: center;
    margin: 32px;
}

#preambule { 
    text-align: center;
    padding-bottom: 64px;
}

#list { 
    padding: 32px;
}

#content1 {
    padding: 32px;
}

.txt-info {
    margin-top: 12px;
    margin-bottom: 12px;
}
#map { height: 600px; }
#instructions { 
    height: 400px;
    width: 200px;
}
</style>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
 <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
<body>

    <div id="header">
            
    </div>
    <div class="container">


        <div id="introduction">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Oskour</h2></div>
                <div class="panel-body">Êtes-vous prêt à découvrir la richesse cinématographique des villes françaises ?</div>
            </div>
        </div>



        <div id='map'></div>
        <div id="instructions"></div>

        
        <div id="list">

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Classement cinématographique des meilleures villes de France</h2></div>
                <div class="panel-body">
                    <div id="content1">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#sort" aria-expanded="false" aria-controls="collapseExample">
                            Options de filtrage et de tri
                        </button>

                    
                        <div id="sort" class="collapse card card-body">
                        <div class="txt-info">Par défaut le tableau ordonne les villes en fonction de leur note globale, moyenne des notes de tous les films tournés en leur sein.<br> Vous pouvez cependant filtrer par genre pour savoir quelle ville produit les meilleurs films d'action par exemple !</div>
                        <select class="custom-select">
                            <option selected>Filtrer par genre</option>
                            <option value="1">Action</option>
                            <option value="2">Horreur</option>
                            <option value="3">Tous genre confondu</option>
                          </select>
                          <div class="txt-info">Vous pouvez aussi les trier dans l'un des ordres qui vous sont proposés : </div>
                          <select class="custom-select">
                            <option selected>Méthode de tri</option>
                            <option value="1">Alphabétique</option>
                            <option value="2">Meilleure note</option>
                            <option value="3">Le plus de films tournés</option>
                          </select>
                    </div>
                </div>
                    <div id="content2">

                        
                        <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Nombre de films</th>
                            <th scope="col">Note de la ville</th>
                            <th scope="col">Détails</th>
                            </tr>
                        </thead>
                        <tbody id="tableList">
                            <!-- ROW MOCKUP -->
                            <tr>
                                <td>Toulouse</td>
                                <td>5465</td>
                                <td>4.5</td>
                                <td><button type="button" class="btn btn-secondary">Détails</button></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2tyYWxsa2FnZ2VuIiwiYSI6ImNrb3pqMzRuMjBreWoyd254YjdyMmJ6ZG8ifQ.Z0Efmarj4fYhEhA4fYSl-w';
        var mymap = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v10',
          zoom: 15
        });

        var url = "http://localhost:3000/villes/details/ville0/ajax?genre=all"

     $.ajax({
          type: "GET",
          url: url,
          success: function(data, textStatus, jqXHR)
            {
                console.log(data)
                var directions = data["directions"];
                var description_ville = data["description_ville"];
                var list_films = data["list_films"];

                var route = directions.routes[0].geometry.coordinates;
                display_directions_on_map(route, mymap);
                add_instructions(directions.routes[0])

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                alert("Nombre call api mapbox depassé");       
            },
          dataType: "json"
        });

    });

    function add_instructions(data)
    {
        var instructions = $("#instructions");

        var steps = data.legs[0].steps;
        console.log(steps)

        var tripInstructions = [];
        for (var i = 0; i < steps.length; i++) {
          tripInstructions.push('<br><li>' + steps[i].maneuver.instruction) + '</li>';
          instructions.innerHTML = '<br><span class="duration">Etapes du voyages :  </span>' + tripInstructions;
        }
    }

    function display_directions_on_map(route, mymap)
    {
        var geojson = {
          type: 'Feature',
          properties: {},
          geometry: {
            type: 'LineString',
            coordinates: route
          }
        };
        // if the route already exists on the map, reset it using setData
        if (mymap.getSource('route'))
        {
          mymap.getSource('route').setData(geojson);
        }
        else
        { // otherwise, make a new request
          mymap.addLayer({
            id: 'route',
            type: 'line',
            source: {
              type: 'geojson',
              data: {
                type: 'Feature',
                properties: {},
                geometry: {
                  type: 'LineString',
                  coordinates: geojson
                }
              }
            },
            layout: {
              'line-join': 'round',
              'line-cap': 'round'
            },
            paint: {
              'line-color': '#3887be',
              'line-width': 10,
              'line-opacity': 1
            }
          });
        }

        mymap.flyTo({
            center: route[0]
        });

    }

</script>
</body>

</html>