<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
</head>
<style type="text/css">

#header { 
    background-color: rgba(0 , 0 , 0 , 75%);
    height: 64px;
}

#introduction {
    text-align: center;
    margin: 32px;
}

#preambule { 
    text-align: center;
    padding-bottom: 64px;
}

#list { 
    padding: 32px;
}

#content1 {
    padding: 32px;
}

.txt-info {
    margin-top: 12px;
    margin-bottom: 12px;
}

</style>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<%- include('./script/script'); %>
<body>

    <div id="header">
            
    </div>
    <div class="container">


        <div id="introduction">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Oskour</h2></div>
                <div class="panel-body">Êtes-vous prêt à découvrir la richesse cinématographique des villes françaises ?</div>
            </div>
        </div>


        <div id="preambule"> 
            <div id="txt">Prenez le temps de découvrir les villes françaises sous l'angle de la création cinématographique ! Notre site web vous permettra d'avoir une rapide idée de la popularité des villes en fonction des films tournés en leur sein. Vous pourrez aussi en apprendre davantage sur les tournages de vos films préférés.</div>
        </div>


        
        <div id="list">

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Classement cinématographique des meilleures villes de France</h2></div>
                <div class="panel-body">
                    <div id="content1">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#sort" aria-expanded="false" aria-controls="collapseExample">
                            Options de filtrage et de tri
                        </button>

                    
                        <div id="sort" class="collapse card card-body">
                        <div class="txt-info">Par défaut le tableau ordonne les villes en fonction de leur note globale, moyenne des notes de tous les films tournés en leur sein.<br> Vous pouvez cependant filtrer par genre pour savoir quelle ville produit les meilleurs films d'action par exemple !</div>
                        <select id="filtre" class="custom-select" onchange="filterWithThisGenre(this.value)">
                          </select>
                          <div class="txt-info">Vous pouvez aussi les trier dans l'un des ordres qui vous sont proposés : </div>
                          <select id="tri" class="custom-select" onchange="sortTable(this.value)">
                            <option selected value="alpha">Alphabétique</option>
                            <option value="note">Meilleure note</option>
                            <option value="number">Le plus de films tournés</option>
                          </select>
                    </div>
                </div>
                    <div id="content2">                        
                        <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Rang</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Nombre de films</th>
                                <th scope="col">Note de la ville (sur 10)</th>
                                <th scope="col">Détails</th>
                            </tr>
                        </thead>
                        <tbody id="tableList">
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>